@use "../Couleur";


.philo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &__titre{
        font-size: 2.4rem;
        font-family: 'Oswald', sans-serif;
   
        background-color: Couleur.$fond-sombre;
        color: Couleur.$principal;
        padding: 1rem;
        border-radius: 10px;
    }
    &__para{
        text-align: center;
        color: Couleur.$principal;
        background-color: Couleur.$fond-section;
        font-size: 1.8rem;
        padding: 2rem;
        line-height: 2.5rem;
    }
}
.veille{
    padding: 2rem;
    background-color: Couleur.$fond-sombre;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &__titre{
        color: Couleur.$principal;
        font-size: 2.4rem;
        font-family: 'Oswald', sans-serif;
    }
    &__bouton{
        border-radius: 15px;
        border-color: Couleur.$lien-bouton;
        border-width: 0.5rem;
        padding: 1rem;
        border-style: solid;
        font-size: 2.4rem;
        font-family: 'Oswald', sans-serif;
    }

}
.contact{
    padding: 2rem;
    background-color: Couleur.$fond-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &__titre{
        color: Couleur.$principal;
        font-family: 'Oswald', sans-serif;
        font-size: 2.4rem;
    }
    &__para{
        text-align: center;
        color: Couleur.$principal;
        font-size: 1.8rem;
    }
    &__bouton{
        border-radius: 15px;
        border-color: Couleur.$lien-bouton;
        border-width: 0.5rem;
        padding: 1rem;
        border-style: solid;
        font-family: 'Oswald', sans-serif;
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 1024px) {
    .philo{
        gap: 4rem;
        &__titre{
            font-size: 4rem;
        
        }
        &__para{
      
            font-size: 2.4rem;
   
        }
    }
    .veille{
   
        gap: 4rem;
        &__titre{
         
            font-size: 4.0rem;
    
        }
        &__bouton{
       
            font-size: 2.8rem;
       
        }
    
    }
    .contact{
      
        gap: 4rem;
        &__titre{
          
            font-size: 4.0rem;
        }
        &__para{
         
            font-size: 2.4rem;
        }
        &__bouton{
         
            font-size: 2.8rem;
        }
    }
}