@use "../Couleur";

.sun {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  background-image: url("../../assets/images/fondColore.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 50vh;
  height: 50vh;
  &__titres {
    display: flex;
    position: relative;
    bottom: -15vw;
    gap: 50vw;
  }
  &__titre {
    font-size: 2.4rem;
    color: Couleur.$police-sombre;
   
  }
  &__image {
    position: relative;
    top: 5vh;
    gap: 2rem;
  }
  &__description {

    opacity: 1;
    max-width: 50vw;
    text-align: center;
    gap: 2rem;
    font-family: 'Fira Code', sans-serif;
    background-color: Couleur.$fond-sombre;
    color: Couleur.$principal;
    padding: 0.5rem;
    border-radius: 5px;
  }
  &__desc-titre {
    font-size: 2.4rem;
    color: Couleur.$lien-bouton;
    font-family: 'Oswald', sans-serif;
  }
  &__desc-texte {
    font-size: 1.6rem;
  }
  &__mot-cle {
    display: flex;
    gap: 4rem;
    position: relative;
    bottom: 5vh;
  }
}
.mots {
  text-align: center;
}

.mot {
  font-size: 1.4rem;
  color: Couleur.$lien-bouton;
  background-color: Couleur.$fond-clair;
  padding: 0.5rem;
  border-radius: 5px;
  width: fit-content;


  //Partie Soft Skill
  &--s1 {
    animation: mouvementDemiCircleG1 18s infinite linear;
  }
  &--s2 {
    animation: mouvementDemiCircleG1 16.5s infinite linear;
  }
  &--s3 {
    animation: mouvementDemiCircleG1 16s infinite linear;
  }
  &--s4 {
    animation: mouvementDemiCircleG1 18.5s infinite linear;
  }
  &--s5 {
    animation: mouvementDemiCircleG1 17s infinite linear;
  }
  &--s6 {
    animation: mouvementDemiCircleG1 17.5s infinite linear;
  }
  //Partie Hard Skill
  &--h1 {
    animation: mouvementDemiCircleD1 18s infinite linear;
  }
  &--h2 {
    animation: mouvementDemiCircleD1 16.5s infinite linear;
  }
  &--h3 {
    animation: mouvementDemiCircleD1 16s infinite linear;
  }
  &--h4 {
    animation: mouvementDemiCircleD1 18.5s infinite linear;
  }
  &--h5 {
    animation: mouvementDemiCircleD1 17s infinite linear;
  }
  &--h6 {
    animation: mouvementDemiCircleD1 17.5s infinite linear;
  }
}

@keyframes mouvementDemiCircleG1 {
  0% {
    transform: rotate(0deg) translateY(20vw) rotate(0deg);
  }

  100% {
    transform: rotate(180deg) translateY(15vw) rotate(-180deg);
  }
}
@keyframes mouvementDemiCircleD1 {
  0% {
    transform: rotate(0deg) translateY(20vw) rotate(0deg);
  }

  100% {
    transform: rotate(-180deg) translateY(15vw) rotate(180deg);
  }
}

@media screen and (min-width: 1024px) {
  .sun {
    height: 80vh;
    margin-bottom: 4rem;
    &__titres {
      top: -0.5vw;
    }
    &__titre{
      font-size: 3.6rem;
    }
    &__description{
      max-width: 25vw;

    }
    &__mot-cle {
      bottom: 6.5vw;
    }

    &__desc-titre {
      font-size: 3rem;
    }
    &__desc-texte {
    font-size: 2rem
    }
  }
 

  @keyframes mouvementDemiCircleG1 {
    0% {
      transform: rotate(0deg) translateY(10vw) rotate(0deg);
    }
  
    100% {
      transform: rotate(180deg) translateY(5vw) rotate(-180deg);
    }
  }
  @keyframes mouvementDemiCircleD1 {
    0% {
      transform: rotate(0deg) translateY(10vw) rotate(0deg);
    }
  
    100% {
      transform: rotate(-180deg) translateY(5vw) rotate(180deg);
    }
  }
  .mot{
    font-size: 1.8rem;
  }



}
