/* Regles generales */
@use './Couleur';

*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  font-family: "Fira Code", sans-serif;
}

a,
a:hover,
a:visited {
  color: Couleur.$lien-bouton;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');