@use "Couleur";

.perdu {
    margin-left: 25vw;
    margin-right: 25vw;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  &__titre {
    font-family: "Oswald", sans-serif;
    font-size: 20rem;
    &--char1 {
      color: Couleur.$fond-clair;
    }
    &--char2 {
      color: Couleur.$fond-section;
    }
    &--char3 {
      color: Couleur.$lien-bouton;
    }
  }
  &__para {
    font-size: 6.4;
  }
}
